{% extends "core/base.html" %}

{% block content %}


<div class="homepage">Welcome to COOKBOOK, your personal culinary playground! <br><br>

    You're just a click away from exploring a world of delicious recipes, talented chefs, and culinary inspiration. Whether you're a seasoned cook or just starting your kitchen journey, we've got something for everyone.
    <br><br>
    What you'll find:
    <br>
    <ul>
    <li>Endless inspiration: Discover a vast collection of recipes from around the globe, covering every cuisine imaginable.</li>
    <li>A community of foodies: Connect with like-minded people who share your passion for cooking and food. Share your own recipes and get feedback from others.</li>
    <li>Stunning visuals: Our recipes are accompanied by beautiful photos that will make your mouth water.</li>
    <li>Easy-to-follow instructions: Our recipes are written in a clear and concise way, making it easy for anyone to cook them.</li>
    </ul>
<br>
    Ready to start cooking? Dive in and let your culinary adventure begin!
    <a href="{% url 'login' %}" style="color: #2980B9;"><strong>LOG IN HERE</strong></a>
</div>

{% endblock %}