{% extends 'core/base.html' %}

{% block content %}
<style>
    .login-form input{
        width: 20rem;
        height: 2rem;
        background-color: #effbff;
    }

</style>
<div class="about">
    <h1>LOG IN</h1>

    <form method="post" action="{% url 'login' %}" class="login-form">
        {% csrf_token %}

        <div><br>
            <label>E-mail</label>
            <input name="email" type="email" required>
        </div>

        <div><br>
            <label>Password</label>
            <input name="password1" type="password" required>
        </div>
<br>
<br>
        <div>
            <button class="login_button">LOG IN</button>
        </div>
    </form>
</div>
{% endblock %}